{
  "name": "{{.AppID}}",
  "version": "0.1.0",
  "type": "module",
  "scripts": {
    "start": "bun run index.ts",
    "build": "tsc"
  },
  "dependencies": {
    "@wuhanyuhan/ks-app": "0.5.0"
  },
  "devDependencies": {
    "typescript": "^5.6.0"
  }
}
